body{
    font-family: 'IBM Plex Serif', serif;
}

.container {
    max-width: 1400px;
    margin: 0 50px;
  }
  
  header {
    max-width: 1200px;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("../images/hero-bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding: 200px 100px;
  }

 
header h1{
    color: white;
    font-size: 70px;
}

header h2{
    color: white;
    font-size: 35px;
    margin-bottom: 60px;
}
header h3{
    color: white;
    margin-bottom: 50px;
}

header a{
    text-decoration: none;
    border-radius: 2px;
    color: black;
    background-color: white;
    padding: 15px;
    font-size: 20px;
}

main{
    margin: 100px 50px;
}

main h1{
    font-size: 50px;
}

footer{
    color: white;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ), url(../images/hero-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer li{
    list-style: none;
}

footer li a{
    color: white;
}

footer h3{
    font-weight: 800;
    line-height: 30px;
}

footer p{
    line-height: 24px;
    font-size: 15px;
}




.more-h3{
    margin-left: 35px;
}

.blyde-picture{
    width: 400px;
    height: 450px;
    border-radius: 5px;
}

.grid-2-columns{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 100px
}

.text-centre{
    text-align: center;
}

.about-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    
}




@media (max-width: 900px) {
    .container{
        margin: 0 20px;
    }

    header {
        padding: 60px 0;
        margin: auto 10px;
    }
    header h1{
        font-size: 25px;
    }
    header h2{
        font-size: 15px;
    }
    header a{
        font-size: 10px;
    }

    main{
        margin: 10px 5px;
    }
    
   
   
    footer{
        opacity: 0.8;
        padding: 60px 0;
        margin: 10px 10px;
        padding: 5px;
    }

     .about-grid{
        grid-template-columns: 1fr;
    }

    footer li a{
        font-size: 7px;
    }
    
    footer p{
        font-size: 7px;
    }

    footer h3{
        font-size: 10px;
    }

    .grid-2-columns{
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }

    .main-h1{
        font-size: 25px;
    }

    .secondary{
        padding: 5px 0;
        margin: 0 10px;
    }

    main p{
        font-size: 10px;
    }

    .blyde-picture{
        width: 300px;
        height: 250px;
        margin: 5px auto;
        height: 350px;
    }
x§

    .about-me, .about-web{
        margin: 0 32px;
    }
    
    #github-link{
        color: white;
    }
}
